<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mofanstore">


    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.login.WlcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".ui.activity.login.forgetActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.login.LoginActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.login.HtmlActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.login.RisterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.login.forget2Activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.login.forget3Activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.massage.MassagextListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.massage.WuLiumassageLvActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.massage.HbMassageLvActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.massage.AtterlvActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.hulan.HulanissueLvActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.hulan.IssueActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.hulan.SousuoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.hulan.AdderhulanActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.Shopcar.ShopcarcommitActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.Shopcar.ShoppayActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.Shopcar.ShopcatpaysuccActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.Shopcar.WuliulvActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.UserinfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.YijfkActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MysettingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyatterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyfansActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyzanActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MychuandaActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name=".ui.activity.user.MyyaoqinActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyjifenActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyVipActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MycollectActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyattershopActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyvipkaqActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.user.MyvipquanyiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.MyvipmxiLvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.Shopcar.MyorderlvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.Shopcar.MyorderdetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.Shopcar.pjialvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.Shopcar.TuikuanlvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.Shopcar.TuikuandetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.MyadderlvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.AdderActivty" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.MydingzhilvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.DingzhidetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.TuangouDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.MytuangoulvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.RiliActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.MyzhujiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.Ipd_aftersaleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.Ipd_aftersalelvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.ShopdetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.MytuangouLvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.ShoplvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.ZouxiulvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.FeileilvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.PpaidetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.NewShopdetailActivity" android:screenOrientation="portrait" />
    </application>

</manifest>